<div>
  <span id="invite-username"></span> wants to play poker!
  <%= link_to new_game_path(starting_players: [31, 32]), remote: true do %>
    <button>Accept</button>
  <% end %>
  <button>Decline</button>
</div>