<% @users.each do |user| %>
  <div class="user-search-result">
    <div class="search-result">
      <% if user.online? %>
        <span id="search-username user-online">
          <%= user.username %> is online now!</span>
      <% else %>
        <span id="search-username">
          <%= user.username %></span>
      <% end %>
    </div>

  <div id="add-friend">
    <%= link_to friend_requests_path(friend_id: user.id), remote:true, method: :post do %>
      <button>Add Me!</button>
    <% end %>
  </div>
<% end %>