<%= render 'messages/index' %>

<div class="poker-table">
  <div class="flop">
  </div>
  <% if @current_user_hand %>
    <div class="poker-hand">
      <% @current_user_hand.hand.each do |c| %>
        <%= image_tag c.avatar_file_name %>
      <% end %>
    </div>
  <% end %>
</div>

<%= render 'footer' %>