<%= render 'messages/index' %>

<div class="poker-table">
  <div class="flop">
    <% if @flop %>
      <% @flop[0..2].each do |c| %>
        <%= image_tag c.avatar_file_name %>
      <% end %>
    <% end %>
  </div>
  <% if @lobby %>
    <% @lobby.each do |p| %>
      <% if current_user.id == p.user_id %>
        <div class="poker-hand">
          <% p.hand.hand.each do |c| %>
            <%= image_tag c.avatar_file_name %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>