<div class="navbar navbar-inverse navbar-twitch" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="small-nav"> <span class="logo"> <B> </span> </span>
        <span class="full-nav"> < Bootsnipp > </span>
      </a>
    </div>
    <div class="">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">
            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Home"> 
            <i class="fas fa-home"></i>
            </span>
            <span class="full-nav"> Home </span>
          </a>
        </li>
         <li>
          <a href="#btc">
            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="My BTC"> 
            <i class="fab fa-btc" id="btc"></i> 
            </span>
            <span class="full-nav">My Bitcoin</span>
          </a>
        </li>
        <li>
          <a href="#poker">
            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Poker"> 
              <span id="spade">♠</span>
            </span>
            <span class="full-nav">Hold Em Poker</span>
          </a>
        </li>
        <li>
          <a href="#blackjack">
            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Blackjack"> 
              <span id="twenty-one">21</span>
            </span>
            <span class="full-nav">Blackjack</span>
          </a>
        </li>
        <li id="friends">
          <%= link_to friends_path, remote: true, method: :get do %>
         <!--  <a id="friends-btn"> -->
              <span class="small-nav" data-toggle="tooltip" data-placement="right" title="My Friends"> 
                <i class="fas fa-users"></i>
              </span>
              <span class="full-nav">My Friends</span>
       <!--    </a> -->
              <div class="friends-list">
              </div>
          <% end %>
        </li>
        <li>
          <a href="#private-chat">
            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Private Message"> 
              <i class="far fa-comments"></i>
            </span>
            <span class="full-nav">Private Chat</span>
          </a>
          <div class="chat-area">
            <input class="mytext" placeholder="Type a message"/>
          </div>       
        </li>
        <li id ="mag-glass">
          <a href="#search">
            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Search Users"> 
              <i class="fas fa-search"></i>
            <span class="full-nav">Search Users</span>
          </a>
          <div class="user-search">
            <%= form_tag(search_path, :method => "get", id: "search-form", remote:true) do %>
              <%= text_field_tag :username, params[:username], placeholder: "Find A User", :id => "search-field" %>
              <div class="search-results">
              </div>
          <% end %>
          </div>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
  <div class="row">
    <h2>Bootstrap Navigation meets Twitch Navigation</h2>
        <p>This is just a quick and dirty example I made to show off to a friend. Don't forget to change the theme using the dropdown above.</p>
  </div>
    <div class="row">
        <h2>Navbar Styles</h2>
        <p>Just to show off how easy it is to theme!</p>
        <button type="button" class="btn btn-inverse nav-style-toggle disabled" data-type="inverse"> Inverse</button>
        <button type="button" class="btn btn-default nav-style-toggle" data-type="default"> Default</button>
        <button type="button" class="btn btn-purple nav-style-toggle" data-type="purple"> Purple</button>
    </div>
</div>