<!-- <div class="overlay">
  <div class="message">
    <h1 id="play">♠ ♥ Let's Play Blackjack! ♣ ♦</h1>
  </div>
</div>
 -->
<% if !logged_in? %>
  <div class= "overlay">
    <div class="overlay-txt">
      You must be logged in to play.
    </div>
  </div>
<% end %>

<%= render 'shared/nav' %>
<%= render 'play-area' %>
