html {
  overflow: hidden;
  min-width: 1200px;
  color: black;
  font-family: Helvetica;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  display: none;
  background: black;
}

.play-area, .footer-wrap {
  min-width: 1200px;
}

#pending-req {
  text-align: center;
  width: 100%; 
  background-color: red;
  color: white;
  height: auto;
}

.chat-area {
  display: none;
  position: absolute;
  background: rgba(255, 0, 0, 0.3);
  margin-left: 6rem;
  margin-top: -4.8rem;
  height: 50rem;
  width: 30rem;
  z-index: 9999;
}

.mytext {
  width: 100%;
}

#spade, #twenty-one {
  color: white;
  text-align: center;
}

#btc {
  margin-left: 0.3rem;
}

#spade {
  margin-left: 0.3rem;
  font-size: 3.3rem;
}

#twenty-one {
  font-family: serif;
  font-style: italic;
  font-weight: 500;
  margin-left: 0.1rem;
}

#search-field {
  position: absolute;
  left: 6rem;
  margin-top: -5rem;
  color: black;
  height: 3rem;
  width: 20rem;
  padding: 0;
  border: none;
  font-size: 1.4rem;
  text-align: center;
}

#search-field:focus {
  border: none;
  outline: none;
}

.search-results {
  border: 1px solid black;
  color: white;
  display: none;
  z-index: 9999;
  position: absolute;
  left: 6rem;
  top: 4rem;
  background: linear-gradient(20deg, rgba(255,200,55, 0.65), orange);
  max-height: 30rem;
  overflow: scroll;
  width: 20rem;
  text-align: center;
  border-radius: 0 0 0.5rem 0.5rem;
}

.user-search-result {
  border: 1px solid white;
  padding-bottom: 2rem;
}

.search-results button {
  width: auto;
  border: 1px solid white;
  background: none;
  margin: 0 auto;
  color: white;
}

#add-friend {
  margin-top: 1rem;
}

.username {
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  text-align: center;
  border-top: 0.3px solid grey;
  border-bottom: 0.3px solid grey;
}

.username h2 {
  font-weight: 300;
}

.body-wrap {
  background-color: black;
  width: 100%;
  left: 5.5rem;
  position: absolute;
  top: 4rem;
  border-radius: 0.5rem;
  background-color: white;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-row-gap: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background-color: rgba(255, 255, 255, 0.7);
}

.overlay-txt {
  color: grey;
  position: relative;
  text-align: center;
  top: 50%;
  font-size: 2.7rem;
  z-index: 9999;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; 
  user-select: none; 
}

.overlay-txt:hover {
  cursor: default;
}

.play-area {
  border-top: 0.2px solid grey;
  border-bottom: 0.2px solid grey;
}

/*.message {
  position: relative;
  z-index: 9999;
  border-radius: 0.5rem;
  display: none;
  width: 100vw;
  height: 10rem;
  word-spacing: 2rem;
  background-color: rgba(194, 24, 7, 0.7);
  color: white;
  text-align: center;
}*/

.player-hand,
.dealer-hand {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 90%;
  margin: 0 auto;
  grid-column-gap: 2rem;
  height: 75%;
}

.player-hand img,
.dealer-hand img {
  box-shadow: 6px 6px 4px black;
  border-radius: 0.55rem;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  display: inline;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.player-hand img:hover,
.dealer-hand img:hover {
  box-shadow: 6px 6px 4px yellow;
}

.footer-wrap {
  position: absolute;
  border-top: 1px solid black;
  box-shadow: 9px 9px 9px 9px black;
  display: grid;
  grid-template-columns: 10rem 25% 1fr;
  bottom: 0;
  left: 5.3rem;
  height: 13rem;
  width: 100%;
}

.wager-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.wager-buttons input {
  height: 100%;
}

.button-area-left {
  color: black;
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr;
}

.button-area-left button {
  height: 100%;
  color: black;
}

.play-again {
  visibility: hidden;
}

.footer-wrap
input[type="submit"],
.footer-wrap button {
  background: linear-gradient(20deg, rgba(255,200,55, 0.7), orange);
  border: none;
  color: white;
  width: 100%;
  font-size: 1.55rem;
  font-weight: 300rem;
  border: 1px solid white;
}

.footer-wrap input[type="submit"]:hover,
.footer-wrap button:hover {
  background: darkorange;
}

button:hover {
  cursor: pointer;
  background-color: silver;
}

.result {
  background: linear-gradient(80deg, rgba(255, 0, 0, 0.6), rgba(127, 0, 0, 0.6));
  width: 100%;
  position: relative;
}

#message {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 300;
}

#flash-msg {
  display: hidden;
}

#wager {
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  width: 40rem;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 1.9rem;
  background: rgba(255, 255, 255, 0.4);
}

.wager-buttons input[type='submit'] {
  height: 100%;
}

#current-wager {
  color: darkgreen;
  font-weight: 700;
}